* { box-sizing: border-box; } 

body {
  margin: 0; 
  font-family: "Inter", sans-serif;
}

img { 
  display: block; 
}
.banner-container{
    width: 480px;
    height: 300px;
    display: flex;
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   background-color: #cf3339;
   color: #ffffff;
   border : 1px solid gray;
   border-radius: 5px;
   box-shadow: 5px 6px 10px #252525  }
.banner-image{
margin: 0 auto; 
object-fit: cover;
}
.banner-container >h2,
.banner-container > p{
  width: 85%;
    margin: 0;
    text-align: center;

}
.banner-container >h2{
  font-size: 1.1em;
}
.banner-container >p{
  font-size: 0.8em;
}
.learn-more-button {
  background-color: #ffffff;
outline: none;
border:none;
padding: 0.5rem 0.75rem;
border-radius: 7px;
transition: all 250ms ease-in-outs;
}
.learn-more-button:hover{
  background-color: #252525;
  color: #ffffff;
  cursor: pointer;
}